<div>

  <h4 class="mb-4 text-muted">Forms </h4>

  <div class="row">
    <div class="col-md-12 mb-4   align-items-stretch">
      <div class="card border-0 rounded-0 h-90">
        <div class="card-title mb-1 p-3">
          <h5>catégorie</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="exampleInputEmail1" class="col-sm-2 col-form-label text-nowrap">catégorie</label>
              <div class="col-sm-9">
              <input type="text" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter category">
              </div>
            </div>
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-9 mb-3">
                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">soumettre
                </button>
                <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">annuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4  align-items-stretch">
      <div class="card border-0 rounded-0 h-90">
        <div class="card-title mb-1 p-3">
          <h5>Produit</h5>
        </div>
        <div class="card-body">
          <form>

            <div class="form-group row">
              <label for="husername" class="col-sm-2 col-form-label text-nowrap">Nom du produit</label>
              <div class="col-sm-9">
                <input type="text" class="form-control rounded-0" id="husername" aria-describedby="emailHelp"
                  placeholder="Entrer nom">
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label text-nowrap">Stock</label>
              <div class="col-sm-9">
                <input type="number" class="form-control rounded-0" id="staticEmail" aria-describedby="emailHelp"
                  placeholder="Entrer nombre">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-nowrap">prix</label>
                <div class="col-sm-9">
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label text-nowrap">discription</label>
              <div class="col-sm-9">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <!---------------------upload button----------------------->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-nowrap">Image</label>
              <div class="col-sm-9">
                <button 
                  type="button"
                  onclick='document.getElementById("fileInput").click();'
                  class="btn btn-outline-secondary rounded-0 mb-2">
                  Télécharger
                </button>

                <input #file id="fileInput" type="file"  accept='image/*' (change)="preview($event)" multiple />
                <div class="container-fluid" *ngIf="imgURL.length > 0">
                  <img *ngFor="let img of imgURL" [src]="img" width="100px" height="100px" > 
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-9 mb-3">
                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">soumettre
                </button>
                <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">annuler</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

 